In [400]:
import pandas as pd

In [401]:
data_original=pd.read_csv("data/original_dataset.csv")
data_raw=pd.read_csv("data/data.csv")

In [402]:
print(len(data_original))
print(len(data_raw))

31644/1865

1865
31644

16.96729222520107

In [403]:
data_original[["author","geometry"]].drop_duplicates()

            author geometry
0          Inasaka     tube
7           Peskov     tube
24        Thompson     tube
1226   Weatherhead     tube
1388      Williams     tube
1439          Beus  annulus
1516       Janssen  annulus
1798     Mortimore  annulus
1817    Kossolapov    plate
1829  Richenderfer    plate

In [404]:
author_geometry={"Inasaka"}

In [405]:
data_raw[["author","geometry"]].drop_duplicates().dropna()

             author geometry
0          Thompson     tube
3              Beus  annulus
7            Peskov     tube
11          Janssen  annulus
22      Weatherhead     tube
40          Inasaka     tube
57         Williams     tube
77        Mortimore  annulus
108    Richenderfer    plate
235      Kossolapov    plate
693    Richenderfer     tube
809            Beus     tube
934       Mortimore     tube
2664   Richenderfer  annulus
3180         Peskov    plate
4476       Thompson    plate
5106         Peskov  annulus
5399        Janssen     tube
6412       Williams    plate
7137       Thompson  annulus
12514    Kossolapov     tube
15910     Mortimore    plate
16102       Janssen    plate
18026      Williams  annulus
23122    Kossolapov  annulus
23470       Inasaka    plate
26769   Weatherhead  annulus

In [406]:
data_raw[data_raw["geometry"]=="tube"]

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
4,4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8
7,7,Peskov,tube,18.00,750.0,NaN,10.0,10.0,1650.0,2.2
8,8,NaN,tube,12.07,4042.0,-0.0536,NaN,NaN,152.0,5.6
...,...,...,...,...,...,...,...,...,...,...
31635,31635,Thompson,tube,17.24,2984.0,-0.0417,1.9,1.9,152.0,3.9
31637,31637,Weatherhead,tube,13.79,688.0,NaN,NaN,11.1,457.0,2.3
31638,31638,Thompson,tube,NaN,3648.0,-0.0487,4.7,4.7,318.0,9.0
31642,31642,Thompson,tube,6.89,3825.0,NaN,23.6,23.6,1972.0,3.7
31643,31643,NaN,tube,6.89,7568.0,0.0603,12.8,12.8,1930.0,3.3

In [407]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31644 entries, 0 to 31643
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   31644 non-null  int64
 1   author               26620 non-null  object
 2   geometry             26144 non-null  object
 3   pressure [MPa]       27192 non-null  float64
 4   mass_flux [kg/m2-s]  26853 non-null  float64
 5   x_e_out [-]          21229 non-null  float64
 6   D_e [mm]             26156 non-null  float64
 7   D_h [mm]             27055 non-null  float64
 8   length [mm]          26885 non-null  float64
 9   chf_exp [MW/m2]      31644 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.4+ MB

In [408]:
data_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1865 entries, 0 to 1864
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1865 non-null   int64
 1   author               1865 non-null   object
 2   geometry             1865 non-null   object
 3   pressure [MPa]       1865 non-null   float64
 4   mass_flux [kg/m2-s]  1865 non-null   int64
 5   x_e_out [-]          1865 non-null   float64
 6   D_e [mm]             1865 non-null   float64
 7   D_h [mm]             1865 non-null   float64
 8   length [mm]          1865 non-null   int64
 9   chf_exp [MW/m2]      1865 non-null   float64
dtypes: float64(5), int64(3), object(2)
memory usage: 145.8+ KB

In [409]:
data_original[data_original["author"]=="Inasaka"].count()

id                     7
author                 7
geometry               7
pressure [MPa]         7
mass_flux [kg/m2-s]    7
x_e_out [-]            7
D_e [mm]               7
D_h [mm]               7
length [mm]            7
chf_exp [MW/m2]        7
dtype: int64

In [410]:
data_raw[data_raw["author"]=="Inasaka"].count()

id                     46
author                 46
geometry               35
pressure [MPa]         42
mass_flux [kg/m2-s]    39
x_e_out [-]            28
D_e [mm]               42
D_h [mm]               40
length [mm]            40
chf_exp [MW/m2]        46
dtype: int64

In [411]:
data_raw[data_raw["geometry"]=="plate"][data_raw["pressure [MPa]"]==0.1]

C:\Users\Miguel\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
108,108,Richenderfer,plate,0.1,2000.0,-0.0093,15.0,120.0,10.0,7.0
235,235,Kossolapov,plate,0.1,1277.0,-0.0385,15.0,120.0,NaN,6.6
417,417,Kossolapov,plate,0.1,1484.0,NaN,15.0,NaN,10.0,8.0
479,479,Kossolapov,plate,0.1,1668.0,NaN,15.0,NaN,10.0,5.4
490,490,Richenderfer,plate,0.1,1000.0,-0.0434,15.0,120.0,NaN,6.5
...,...,...,...,...,...,...,...,...,...,...
30823,30823,Richenderfer,plate,0.1,2000.0,-0.0665,15.0,120.0,10.0,4.2
30854,30854,Richenderfer,plate,0.1,912.0,NaN,NaN,120.0,10.0,5.1
31268,31268,NaN,plate,0.1,2000.0,NaN,NaN,120.0,10.0,5.3
31312,31312,Kossolapov,plate,0.1,1500.0,NaN,15.0,120.0,10.0,4.8
31458,31458,Richenderfer,plate,0.1,5600.0,-0.0373,15.0,120.0,NaN,5.5

RELLENAMOS TODOS LOS VALORES DE AUTHOR Y GEOMETRY

![Texto alternativo](data\tabla_original.png)

In [412]:
data=data_raw.copy()

#tube, annulus, plate

In [413]:
data["author"].unique()

array(['Thompson', 'Beus', nan, 'Peskov', 'Janssen', 'Weatherhead',
       'Inasaka', 'Williams', 'Mortimore', 'Richenderfer', 'Kossolapov'],
      dtype=object)

In [414]:
data[data["author"]=="Richenderfer"][data["geometry"]!="plate"][data["x_e_out [-]"].isnull()]

C:\Users\Miguel\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
693,693,Richenderfer,tube,0.10,1500.0,NaN,15.0,120.0,1300.0,5.3
1560,1560,Richenderfer,NaN,0.51,1500.0,NaN,15.0,120.0,10.0,9.1
2116,2116,Richenderfer,NaN,NaN,1000.0,NaN,15.0,120.0,10.0,4.2
3734,3734,Richenderfer,NaN,0.20,3861.0,NaN,15.0,NaN,10.0,5.2
4520,4520,Richenderfer,annulus,0.20,1000.0,NaN,15.0,120.0,10.0,3.7
5423,5423,Richenderfer,NaN,0.10,2000.0,NaN,15.0,120.0,10.0,8.1
6200,6200,Richenderfer,tube,0.20,1000.0,NaN,15.0,120.0,10.0,6.5
6526,6526,Richenderfer,NaN,1.01,1000.0,NaN,15.0,120.0,10.0,3.8
6643,6643,Richenderfer,NaN,0.10,1000.0,NaN,15.0,120.0,10.0,4.2
6664,6664,Richenderfer,NaN,0.51,2000.0,NaN,15.0,120.0,10.0,4.0
8225,8225,Richenderfer,NaN,0.10,NaN,NaN,15.0,120.0,NaN,4.5
8666,8666,Richenderfer,NaN,0.10,2000.0,NaN,15.0,NaN,10.0,5.4
9845,9845,Richenderfer,NaN,0.10,0.0,NaN,NaN,120.0,10.0,8.4
10547,10547,Richenderfer,tube,6.89,2000.0,NaN,15.0,120.0,10.0,3.1
11994,11994,Richenderfer,NaN,0.20,2000.0,NaN,15.0,120.0,10.0,9.2
12048,12048,Richenderfer,NaN,1.01,1500.0,NaN,15.0,120.0,10.0,3.2
12659,12659,Richenderfer,tube,0.10,1500.0,NaN,15.0,NaN,10.0,12.7
13688,13688,Richenderfer,NaN,0.10,2000.0,NaN,NaN,120.0,10.0,5.2
13765,13765,Richenderfer,NaN,0.30,2000.0,NaN,NaN,120.0,10.0,7.1
13935,13935,Richenderfer,NaN,0.10,310.0,NaN,NaN,120.0,10.0,4.5
15134,15134,Richenderfer,NaN,0.10,NaN,NaN,15.0,120.0,NaN,4.9
15696,15696,Richenderfer,annulus,1.01,1000.0,NaN,15.0,120.0,10.0,5.1
15762,15762,Richenderfer,NaN,0.10,NaN,NaN,15.0,120.0,10.0,7.3
15971,15971,Richenderfer,NaN,0.10,NaN,NaN,15.0,120.0,10.0,3.8
16530,16530,Richenderfer,NaN,0.10,1000.0,NaN,15.0,120.0,10.0,5.2
18069,18069,Richenderfer,NaN,0.10,861.0,NaN,15.0,120.0,10.0,3.5
18799,18799,Richenderfer,tube,0.10,1500.0,NaN,15.0,120.0,10.0,5.3
19045,19045,Richenderfer,tube,0.20,1500.0,NaN,15.0,120.0,10.0,4.2
19721,19721,Richenderfer,tube,0.20,2000.0,NaN,15.0,120.0,10.0,4.4
20385,20385,Richenderfer,NaN,0.10,1500.0,NaN,15.0,120.0,10.0,4.9
20429,20429,Richenderfer,NaN,1.01,1000.0,NaN,15.0,120.0,10.0,6.0
21737,21737,Richenderfer,NaN,NaN,1500.0,NaN,15.0,120.0,10.0,4.0
21942,21942,Richenderfer,NaN,0.10,1500.0,NaN,15.0,120.0,10.0,11.5
22088,22088,Richenderfer,NaN,1.01,1000.0,NaN,15.0,120.0,10.0,3.7
22501,22501,Richenderfer,NaN,0.10,NaN,NaN,15.0,120.0,NaN,8.0
23721,23721,Richenderfer,NaN,0.10,2000.0,NaN,15.0,120.0,10.0,10.0
23921,23921,Richenderfer,NaN,0.10,NaN,NaN,NaN,120.0,10.0,3.8
24361,24361,Richenderfer,tube,NaN,1000.0,NaN,15.0,120.0,10.0,4.1
24406,24406,Richenderfer,NaN,0.10,1000.0,NaN,15.0,120.0,10.0,6.6
25192,25192,Richenderfer,NaN,0.10,1000.0,NaN,15.0,120.0,10.0,3.6
26462,26462,Richenderfer,NaN,0.10,912.0,NaN,15.0,NaN,10.0,8.0
27164,27164,Richenderfer,NaN,NaN,1000.0,NaN,15.0,NaN,NaN,4.1
27193,27193,Richenderfer,NaN,0.20,1500.0,NaN,15.0,120.0,10.0,7.2
27594,27594,Richenderfer,NaN,0.10,2000.0,NaN,NaN,120.0,10.0,4.1
28294,28294,Richenderfer,NaN,0.10,2000.0,NaN,15.0,120.0,10.0,4.3
28492,28492,Richenderfer,NaN,0.20,1500.0,NaN,15.0,120.0,10.0,5.1
30329,30329,Richenderfer,tube,0.51,1000.0,NaN,15.0,120.0,10.0,5.0
30926,30926,Richenderfer,tube,1.01,2000.0,NaN,NaN,120.0,10.0,4.3
31057,31057,Richenderfer,tube,0.20,1000.0,NaN,15.0,120.0,10.0,4.5

In [415]:
#Todos los inasaka la geometry puede cambiarse por "tube" MENOS ES QUE ES PLATE
#De Peskov cambiar todo menos el que es PLATE

#Thompson se puede cambiar todo por tube
#Weatherhead todo por tube
#Williams no hay ningun error respecto a geometría: todo tube
#Beus cambiar todo a annulus
#Janssen todo annulus
#Mortimore todo annulus
#Kossolapov todo a plate
#Richenderfer todo a plate

In [416]:
data.loc[data['author'] == 'Thompson', 'geometry'] = 'tube'
data.loc[data['author'] == 'Weatherhead', 'geometry'] = 'tube'
data.loc[data['author'] == 'Williams', 'geometry'] = 'tube'
data.loc[data['author'] == 'Beus', 'geometry'] = 'annulus'
data.loc[data['author'] == 'Janssen', 'geometry'] = 'annulus'
data.loc[data['author'] == 'Mortimore', 'geometry'] = 'annulus'
data.loc[data['author'] == 'Kossolapov', 'geometry'] = 'plate'
data.loc[data['author'] == 'Richenderfer', 'geometry'] = 'plate'

In [417]:
data[data["author"]=="Richenderfer"][data["pressure [MPa]"]==0.1]

C:\Users\Miguel\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
108,108,Richenderfer,plate,0.1,2000.0,-0.0093,15.0,120.0,10.0,7.0
490,490,Richenderfer,plate,0.1,1000.0,-0.0434,15.0,120.0,NaN,6.5
693,693,Richenderfer,plate,0.1,1500.0,NaN,15.0,120.0,1300.0,5.3
754,754,Richenderfer,plate,0.1,NaN,NaN,NaN,120.0,100.0,5.0
1120,1120,Richenderfer,plate,0.1,1500.0,-0.0184,15.0,120.0,10.0,5.2
...,...,...,...,...,...,...,...,...,...,...
30678,30678,Richenderfer,plate,0.1,1000.0,-0.1184,15.0,120.0,10.0,5.5
30718,30718,Richenderfer,plate,0.1,310.0,-0.1221,15.0,120.0,10.0,6.2
30823,30823,Richenderfer,plate,0.1,2000.0,-0.0665,15.0,120.0,10.0,4.2
30854,30854,Richenderfer,plate,0.1,912.0,NaN,NaN,120.0,10.0,5.1
31458,31458,Richenderfer,plate,0.1,5600.0,-0.0373,15.0,120.0,NaN,5.5

In [418]:
## Arreglamos los Annulus
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['D_h [mm]'] == 15.2), 'author'] = 'Beus'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['D_h [mm]'] == 13.3), 'author'] = 'Mortimore'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['D_e [mm]'] == 5.6), 'author'] = 'Beus'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['D_e [mm]'] == 5), 'author'] = 'Mortimore'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['D_h [mm]']>11.2), 'author'] = 'Janssen'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['D_e [mm]']>6), 'author'] = 'Janssen'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['D_e [mm]']==4.6), 'author'] = 'Janssen'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['length [mm]']!=2134), 'author'] = 'Janssen'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['length [mm]']!=2134), 'author'] = 'Janssen'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['mass_flux [kg/m2-s]']==3662), 'author'] = 'Beus'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus') & (data['mass_flux [kg/m2-s]']==1370), 'author'] = 'Mortimore'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'annulus'), 'author'] = 'Beus'

In [419]:
data[(data["author"].isnull()) & (data["geometry"]=="annulus")]

Empty DataFrame
Columns: [id, author, geometry, pressure [MPa], mass_flux [kg/m2-s], x_e_out [-], D_e [mm], D_h [mm], length [mm], chf_exp [MW/m2]]
Index: []

In [420]:
## Arreglamos los Plate
data.loc[(data['author'].isnull()) & (data['geometry'] == 'plate') & (data['mass_flux [kg/m2-s]'] < 950), 'author'] = 'Kossolapov'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'plate') & (data['pressure [MPa]'] > 0.1), 'author'] = 'Richenderfer'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'plate') & (data['pressure [MPa]'] == 0.1), 'author'] = 'Kossolapov'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'plate') & (data['mass_flux [kg/m2-s]'] > 1300), 'author'] = 'Richenderfer'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'plate'), 'author'] = 'Kossolapov'

In [421]:
data[(data["geometry"]=="plate")&(data["author"].isnull())]

Empty DataFrame
Columns: [id, author, geometry, pressure [MPa], mass_flux [kg/m2-s], x_e_out [-], D_e [mm], D_h [mm], length [mm], chf_exp [MW/m2]]
Index: []

In [422]:
data[(data["geometry"]=="plate") & (data["author"]=="Kossolapov")]["mass_flux [kg/m2-s]"].mean()

1038.0564516129032

In [423]:
data[(data["geometry"]=="plate") & (data["author"]=="Richenderfer")]["mass_flux [kg/m2-s]"].mean()

1642.701754385965

In [424]:
## Arreglamos los Tube
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_h [mm]'] ==9.5), 'author'] = 'Williams'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_h [mm]'] ==10), 'author'] = 'Peskov'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_h [mm]'] ==3), 'author'] = 'Inasaka'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_e [mm]'] ==9.5), 'author'] = 'Williams'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_e [mm]'] ==10), 'author'] = 'Peskov'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_e [mm]'] ==3), 'author'] = 'Inasaka'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['length [mm]'] ==1836), 'author'] = 'Williams'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['length [mm]'] ==457), 'author'] = 'Weatherhead'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['length [mm]'] ==100), 'author'] = 'Peskov'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['pressure [MPa]'] ==13.8), 'author'] = 'Weatherhead'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['mass_flux [kg/m2-s]']>6800), 'author'] = 'Thompson'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['mass_flux [kg/m2-s]']<500), 'author'] = 'Weatherhead'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_e [mm]']>11.5), 'author'] = 'Thompson'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['D_h [mm]']>11.5), 'author'] = 'Thompson'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['length [mm]']<380), 'author'] = 'Thompson'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['length [mm]']>1950), 'author'] = 'Thompson'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube') & (data['pressure [MPa]']<0.3), 'author'] = 'Thompson'
data.loc[(data['author'].isnull()) & (data['geometry'] == 'tube'), 'author'] = 'Thompson'

In [425]:
data[(data["geometry"]=="tube")&(data["author"].isnull())]

Empty DataFrame
Columns: [id, author, geometry, pressure [MPa], mass_flux [kg/m2-s], x_e_out [-], D_e [mm], D_h [mm], length [mm], chf_exp [MW/m2]]
Index: []

In [426]:
## Arreglamos los que son NaN en author y geometry

data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_e [mm]"]==3) ,'author'] = 'Inasaka'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_h [mm]"]==3) ,'author'] = 'Inasaka'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_e [mm]"]==10) ,'author'] = 'Peskov'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_h [mm]"]==10) ,'author'] = 'Peskov'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_e [mm]"]==9.5) ,'author'] = 'Williams'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_h [mm]"]==9.5) ,'author'] = 'Williams'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_e [mm]"]==5.6) ,'author'] = 'Beus'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_h [mm]"]==15.2) ,'author'] = 'Beus'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_e [mm]"]==5) ,'author'] = 'Mortimore'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_h [mm]"]==13.3) ,'author'] = 'Mortimore'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_h [mm]"]==120)&(data["pressure [MPa]"]==0.1) ,'author'] = 'Kossolapov'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["D_h [mm]"]==120)&(data["pressure [MPa]"]!=0.1) ,'author'] = 'Richenderfer'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["length [mm]"]==10) ,'author'] = 'Kossolapov'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["length [mm]"]>2750) ,'author'] = 'Thompson'
data.loc[(data["author"].isnull())&(data["geometry"].isnull())&(data["mass_flux [kg/m2-s]"]>6700) ,'author'] = 'Thompson'
data.loc[(data["author"].isnull())&(data["geometry"].isnull()),'author'] = 'Thompson'

In [427]:
data.loc[(data["geometry"].isnull())&(data["author"]=="Inasaka"),'geometry'] = 'tube'
data.loc[(data["geometry"].isnull())&(data["author"]=="Peskov"),'geometry'] = 'tube'
data.loc[(data["geometry"].isnull())&(data["author"]=="Thompson"),'geometry'] = 'tube'
data.loc[(data["geometry"].isnull())&(data["author"]=="Weatherhead"),'geometry'] = 'tube'
data.loc[(data["geometry"].isnull())&(data["author"]=="Williams"),'geometry'] = 'tube'
data.loc[(data["geometry"].isnull())&(data["author"]=="Beus"),'geometry'] = 'annulus'
data.loc[(data["geometry"].isnull())&(data["author"]=="Janssen"),'geometry'] = 'annulus'
data.loc[(data["geometry"].isnull())&(data["author"]=="Mortimore"),'geometry'] = 'annulus'
data.loc[(data["geometry"].isnull())&(data["author"]=="Kossolapov"),'geometry'] = 'plate'
data.loc[(data["geometry"].isnull())&(data["author"]=="Richenderfer"),'geometry'] = 'plate'

Una vez rellenados todos los datos de author y geometry rellenamos todos los demás campos rellenando los vación con la mediana del dataset original segun el autor

In [428]:
data_original[data_original["author"]=="Inasaka"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,7.000000,7.000000,7.000000,7.000000,7.0,7.0,7.0,7.000000
mean,4.000000,0.548571,5628.571429,-0.096943,3.0,3.0,100.0,10.971429
std,2.160247,0.216905,886.405260,0.037811,0.0,0.0,0.0,2.774115
min,1.000000,0.310000,4300.000000,-0.146000,3.0,3.0,100.0,7.300000
25%,2.500000,0.360000,5100.000000,-0.122250,3.0,3.0,100.0,9.400000
50%,4.000000,0.620000,5600.000000,-0.104100,3.0,3.0,100.0,11.000000
75%,5.500000,0.640000,6300.000000,-0.072250,3.0,3.0,100.0,12.050000
max,7.000000,0.910000,6700.000000,-0.039500,3.0,3.0,100.0,15.600000

In [429]:
data.loc[(data['author']=="Inasaka") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 0.548571
data.loc[(data['author']=="Inasaka") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 5628.57
data.loc[(data['author']=="Inasaka") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 3
data.loc[(data['author']=="Inasaka") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 3
data.loc[(data['author']=="Inasaka") & (data['length [mm]'].isnull()), 'length [mm]'] = 100

In [430]:
data_original[data_original["author"]=="Peskov"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,17.000000,17.000000,17.000000,17.000000,17.0,17.0,17.000000,17.000000
mean,16.000000,14.235294,2642.705882,-0.028182,10.0,10.0,1009.294118,2.494118
std,5.049752,3.152963,1483.803759,0.096238,0.0,0.0,476.048549,1.190310
min,8.000000,10.000000,750.000000,-0.230600,10.0,10.0,400.000000,0.900000
25%,12.000000,12.000000,1617.000000,-0.068000,10.0,10.0,565.000000,1.400000
50%,16.000000,14.000000,2217.000000,-0.046500,10.0,10.0,890.000000,2.100000
75%,20.000000,16.000000,3861.000000,0.031100,10.0,10.0,1650.000000,3.500000
max,24.000000,20.000000,5361.000000,0.134400,10.0,10.0,1650.000000,4.300000

In [431]:
data.loc[(data['author']=="Peskov") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 14.235
data.loc[(data['author']=="Peskov") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 2642.705
data.loc[(data['author']=="Peskov") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 10
data.loc[(data['author']=="Peskov") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 10
data.loc[(data['author']=="Peskov") & (data['length [mm]'].isnull()), 'length [mm]'] = 1009.29

In [432]:
data_original[data_original["author"]=="Thompson"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000
mean,625.500000,10.262970,3315.693012,0.004497,9.218636,9.218636,680.588186,4.211398
std,347.131819,4.214651,1697.328084,0.118421,7.444317,7.444317,530.999958,1.983662
min,25.000000,0.100000,542.000000,-0.866700,1.000000,1.000000,25.000000,1.000000
25%,325.250000,6.890000,2021.000000,-0.059000,4.700000,4.700000,318.000000,2.700000
50%,625.500000,10.510000,3146.000000,0.012900,7.800000,7.800000,591.000000,3.900000
75%,925.750000,13.790000,4069.000000,0.086875,10.800000,10.800000,762.000000,5.200000
max,1226.000000,20.680000,7975.000000,0.212000,37.500000,37.500000,3048.000000,19.300000

In [433]:
data.loc[(data['author']=="Thompson") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 10.26
data.loc[(data['author']=="Thompson") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 3315.69
data.loc[(data['author']=="Thompson") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 9.218
data.loc[(data['author']=="Thompson") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 9.218
data.loc[(data['author']=="Thompson") & (data['length [mm]'].isnull()), 'length [mm]'] = 680.588

In [434]:
data_original[data_original["author"]=="Weatherhead"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,162.000000,1.620000e+02,162.000000,162.000000,162.000000,162.000000,162.0,162.000000
mean,1307.500000,1.379000e+01,1434.783951,-0.039708,9.127160,9.127160,457.0,2.937654
std,46.909487,5.345595e-15,627.054890,0.140696,1.683166,1.683166,0.0,1.001118
min,1227.000000,1.379000e+01,332.000000,-0.485400,7.700000,7.700000,457.0,1.300000
25%,1267.250000,1.379000e+01,925.250000,-0.138475,7.700000,7.700000,457.0,2.200000
50%,1307.500000,1.379000e+01,1370.000000,-0.016850,7.700000,7.700000,457.0,2.750000
75%,1347.750000,1.379000e+01,1953.000000,0.078600,11.100000,11.100000,457.0,3.600000
max,1388.000000,1.379000e+01,2712.000000,0.193600,11.100000,11.100000,457.0,5.400000

In [435]:
data.loc[(data['author']=="Weatherhead") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 1.379000e+01
data.loc[(data['author']=="Weatherhead") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 1434.78
data.loc[(data['author']=="Weatherhead") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 9.127
data.loc[(data['author']=="Weatherhead") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 9.127
data.loc[(data['author']=="Weatherhead") & (data['length [mm]'].isnull()), 'length [mm]'] = 457

In [436]:
data_original[data_original["author"]=="Williams"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,51.000000,51.000000,51.000000,51.000000,51.0,51.0,51.0,51.000000
mean,1414.000000,13.140784,2837.313725,0.087967,9.5,9.5,1836.0,2.068627
std,14.866069,2.264426,1037.392221,0.059460,0.0,0.0,0.0,0.754583
min,1389.000000,5.520000,670.000000,-0.027800,9.5,9.5,1836.0,0.900000
25%,1401.500000,12.410000,2663.500000,0.042650,9.5,9.5,1836.0,1.500000
50%,1414.000000,13.790000,2710.000000,0.097000,9.5,9.5,1836.0,2.000000
75%,1426.500000,15.170000,4017.500000,0.147000,9.5,9.5,1836.0,2.600000
max,1439.000000,15.170000,4684.000000,0.171200,9.5,9.5,1836.0,4.100000

In [437]:
data.loc[(data['author']=="Williams") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 13.14
data.loc[(data['author']=="Williams") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 2837.31
data.loc[(data['author']=="Williams") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 9.5	
data.loc[(data['author']=="Williams") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 9.5	
data.loc[(data['author']=="Williams") & (data['length [mm]'].isnull()), 'length [mm]'] = 1836

In [438]:
data_original[data_original["author"]=="Beus"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,77.000000,77.000000,77.000000,77.000000,7.700000e+01,7.700000e+01,77.0,77.000000
mean,1478.000000,12.597143,2310.259740,0.073042,5.600000e+00,1.520000e+01,2134.0,1.815584
std,22.371857,2.815653,1005.330496,0.101642,2.682008e-15,5.364016e-15,0.0,0.600672
min,1440.000000,5.520000,671.000000,-0.313700,5.600000e+00,1.520000e+01,2134.0,0.800000
25%,1459.000000,11.030000,1354.000000,0.022400,5.600000e+00,1.520000e+01,2134.0,1.400000
50%,1478.000000,13.790000,2710.000000,0.084700,5.600000e+00,1.520000e+01,2134.0,1.800000
75%,1497.000000,15.510000,2741.000000,0.146100,5.600000e+00,1.520000e+01,2134.0,2.200000
max,1516.000000,15.510000,3721.000000,0.232000,5.600000e+00,1.520000e+01,2134.0,3.300000

In [439]:
data.loc[(data['author']=="Beus") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 12.597
data.loc[(data['author']=="Beus") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 2310.25
data.loc[(data['author']=="Beus") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 5.6	
data.loc[(data['author']=="Beus") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 1.520000e+01
data.loc[(data['author']=="Beus") & (data['length [mm]'].isnull()), 'length [mm]'] = 2134

In [440]:
data_original[data_original["author"]=="Janssen"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000
mean,1657.500000,7.007660,2173.925532,0.078982,10.929078,34.520567,1740.109929,3.295035
std,81.550598,1.098683,1295.994705,0.078412,3.666042,17.542946,653.858631,0.892222
min,1517.000000,4.130000,381.000000,-0.133200,4.600000,11.300000,737.000000,1.400000
25%,1587.250000,6.890000,1519.000000,0.019625,8.500000,22.300000,914.000000,2.600000
50%,1657.500000,6.890000,1838.000000,0.086550,12.700000,38.100000,1778.000000,3.300000
75%,1727.750000,6.920000,2346.000000,0.139600,12.700000,42.300000,1829.000000,3.900000
max,1798.000000,9.720000,5913.000000,0.213800,22.200000,96.300000,2743.000000,6.000000

In [441]:
data.loc[(data['author']=="Janssen") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 7
data.loc[(data['author']=="Janssen") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 2173.925
data.loc[(data['author']=="Janssen") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 10.929	
data.loc[(data['author']=="Janssen") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 34.52
data.loc[(data['author']=="Janssen") & (data['length [mm]'].isnull()), 'length [mm]'] = 1740.109

In [442]:
data_original[data_original["author"]=="Mortimore"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,19.000000,19.000000,19.000000,19.00000,19.0,1.900000e+01,19.0,19.000000
mean,1808.000000,11.611053,1971.947368,0.08990,5.0,1.330000e+01,2134.0,1.652632
std,5.627314,2.359750,961.874182,0.10165,0.0,1.825033e-15,0.0,0.450146
min,1799.000000,8.270000,677.000000,-0.12570,5.0,1.330000e+01,2134.0,0.900000
25%,1803.500000,9.650000,1341.500000,0.05365,5.0,1.330000e+01,2134.0,1.300000
50%,1808.000000,11.030000,1370.000000,0.10310,5.0,1.330000e+01,2134.0,1.500000
75%,1812.500000,13.790000,2708.000000,0.16855,5.0,1.330000e+01,2134.0,2.100000
max,1817.000000,13.790000,3637.000000,0.22250,5.0,1.330000e+01,2134.0,2.300000

In [443]:
data.loc[(data['author']=="Mortimore") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 11.61
data.loc[(data['author']=="Mortimore") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 1971.947
data.loc[(data['author']=="Mortimore") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 5
data.loc[(data['author']=="Mortimore") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 1.330000e+01
data.loc[(data['author']=="Mortimore") & (data['length [mm]'].isnull()), 'length [mm]'] = 2134

In [444]:
data_original[data_original["author"]=="Kossolapov"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,12.000000,1.200000e+01,12.000000,12.000000,12.0,12.0,12.0,12.000000
mean,1823.500000,1.000000e-01,792.250000,-0.074350,15.0,120.0,10.0,6.841667
std,3.605551,1.449488e-17,584.935447,0.047911,0.0,0.0,0.0,4.132237
min,1818.000000,1.000000e-01,0.000000,-0.139200,15.0,120.0,10.0,2.100000
25%,1820.750000,1.000000e-01,339.000000,-0.104475,15.0,120.0,10.0,3.825000
50%,1823.500000,1.000000e-01,682.000000,-0.069750,15.0,120.0,10.0,6.350000
75%,1826.250000,1.000000e-01,1003.250000,-0.039625,15.0,120.0,10.0,8.925000
max,1829.000000,1.000000e-01,2078.000000,-0.018700,15.0,120.0,10.0,14.700000

In [445]:
data.loc[(data['author']=="Kossolapov") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 1.000000e-01	
data.loc[(data['author']=="Kossolapov") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 792.25
data.loc[(data['author']=="Kossolapov") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 15
data.loc[(data['author']=="Kossolapov") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 120
data.loc[(data['author']=="Kossolapov") & (data['length [mm]'].isnull()), 'length [mm]'] = 10

In [446]:
data_original[data_original["author"]=="Richenderfer"].describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,36.000000,36.000000,36.000000,36.000000,36.0,36.0,36.0,36.000000
mean,1847.500000,0.455000,1500.000000,-0.023342,15.0,120.0,10.0,6.769444
std,10.535654,0.359321,414.039336,0.012730,0.0,0.0,0.0,2.204129
min,1830.000000,0.100000,1000.000000,-0.043400,15.0,120.0,10.0,3.500000
25%,1838.750000,0.175000,1000.000000,-0.037600,15.0,120.0,10.0,5.050000
50%,1847.500000,0.355000,1500.000000,-0.019850,15.0,120.0,10.0,6.200000
75%,1856.250000,0.635000,2000.000000,-0.010725,15.0,120.0,10.0,8.025000
max,1865.000000,1.010000,2000.000000,-0.009300,15.0,120.0,10.0,11.500000

In [447]:
data.loc[(data['author']=="Richenderfer") & (data['pressure [MPa]'].isnull()), 'pressure [MPa]'] = 0.455
data.loc[(data['author']=="Richenderfer") & (data['mass_flux [kg/m2-s]'].isnull()), 'mass_flux [kg/m2-s]'] = 1500
data.loc[(data['author']=="Richenderfer") & (data['D_e [mm]'].isnull()), 'D_e [mm]'] = 15
data.loc[(data['author']=="Richenderfer") & (data['D_h [mm]'].isnull()), 'D_h [mm]'] = 120
data.loc[(data['author']=="Richenderfer") & (data['length [mm]'].isnull()), 'length [mm]'] = 10

In [451]:
data.to_csv("data/datos_modificados.csv", index=False)