In [8]:
import pandas as pd

In [9]:
data_original=pd.read_csv("data/original_dataset.csv")
data_raw=pd.read_csv("data/data.csv")

In [10]:
data_raw_complete=data_raw.dropna()
data_raw_complete

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
9,9,Peskov,tube,12.00,1617.0,0.1228,10.0,10.0,520.0,2.2
15,15,Thompson,tube,12.07,3255.0,0.0406,1.9,1.9,152.0,2.9
17,17,Thompson,tube,10.41,2563.0,0.1092,4.6,4.6,229.0,6.8
30,30,Janssen,annulus,9.68,5615.0,0.0196,12.7,38.1,914.0,2.9
...,...,...,...,...,...,...,...,...,...,...
31623,31623,Janssen,annulus,8.27,2731.0,0.1601,5.0,13.3,2134.0,1.3
31624,31624,Weatherhead,tube,13.79,963.0,0.1693,7.7,7.7,457.0,1.5
31626,31626,Thompson,tube,15.51,2984.0,0.0253,1.9,1.9,696.0,2.5
31627,31627,Thompson,tube,0.64,3282.0,-0.1224,3.0,3.0,100.0,7.1
31635,31635,Thompson,tube,17.24,2984.0,-0.0417,1.9,1.9,152.0,3.9

Unimos el dataset original a las filas completas que tenemos del dataset generado y entrenamos sobre estos datos

#### Abordamos el problema con pocos datos pero de calidad

In [15]:
data=pd.concat([data_raw_complete,data_original])
data

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
9,9,Peskov,tube,12.00,1617.0,0.1228,10.0,10.0,520.0,2.2
15,15,Thompson,tube,12.07,3255.0,0.0406,1.9,1.9,152.0,2.9
17,17,Thompson,tube,10.41,2563.0,0.1092,4.6,4.6,229.0,6.8
30,30,Janssen,annulus,9.68,5615.0,0.0196,12.7,38.1,914.0,2.9
...,...,...,...,...,...,...,...,...,...,...
1860,1861,Richenderfer,plate,1.01,1500.0,-0.0218,15.0,120.0,10.0,9.4
1861,1862,Richenderfer,plate,1.01,1500.0,-0.0434,15.0,120.0,10.0,10.4
1862,1863,Richenderfer,plate,1.01,2000.0,-0.0109,15.0,120.0,10.0,10.8
1863,1864,Richenderfer,plate,1.01,2000.0,-0.0218,15.0,120.0,10.0,10.9
1864,1865,Richenderfer,plate,1.01,2000.0,-0.0434,15.0,120.0,10.0,11.5